html {
  background-color: antiquewhite;
}

body {
  text-align: center;
  font-size: 18px;
}

h1 {
  font-size: 50px;
  color: goldenrod
}



div {
  border: 2px solid burlywood;
  margin: 10px;
  padding: 20px
}


@media (max-width: 549px) {
  body {
    text-align: center;
    font-size: 18px;
  }

  h1 {
    font-size: 50px;
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
  }
  #stuff {
    text-align: center;
  }
}

@media (min-width: 550px) {
  body {
    text-align: center;
    font-size: 18px;
  }

  h1 {
    font-size: 50px;
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
  }
  #stuff {
    text-align: center;
  }
  #bio > li {
    text-align: left;
  }
  #achievements > li {
    text-align: left
  }
}
